<div class="row align-items-start p-3 w-960">
  <div class="col-sm-3 text-start">
    <a>prismxq</a>
    <p>prismxq는 법적인 증거가 될 수 없습니다.</p>
    <p>PrismXQ내 자료의 저작권은 PrismXQ에 있습니다.</p>
    <p>PrismXQ내의 자료의 2차 가공, 상업적 이용을 금지합니다.</p>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <p><b>공정위문구</b></p>
      <li>
        <a
          href="/sponsoredtag"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >메인페이지</a
        >
      </li>
      <li>
        <a
          href="/sponsoredtag/check"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >문구 검사기</a
        >
      </li>
      <li>
        <a
          href="/sponsoredtag/dictionary"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >문구 단어사전</a
        >
      </li>
      <li>
        <a
          href="/sponsoredtag/recommendation"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >상황별 추천문구</a
        >
      </li>
      <li>
        <a
          href="/sponsoredtag/guide"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >가이드라인</a
        >
      </li>
    </ul>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <p><b>위험키워드</b></p>
      <li>
        <a
          href="#"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >위험키워드 검사기</a
        >
      </li>
      <li>
        <a
          href="#"
          class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          >위험키워드 백과사전</a
        >
      </li>
    </ul>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <p><b>Contact</b></p>
    </ul>
  </div>
</div>
