<div class="row align-items-start p-3 w-960">
  <div class="col-sm-3 text-start">
    <div class="d-flex">
      <div>
        <img src="/faviconColor.png" />
      </div>
      <div class="my-auto px-2">
        <h5><b>PrismXQ</b></h5>
      </div>
    </div>
    <p><b>PrismXQ는 정직한 리뷰 문화를 추구합니다.</b></p>
    <p>PrismXQ는 법적인 증거가 될 수 없습니다.</p>
    <p>PrismXQ내 자료의 저작권은 PrismXQ에 있습니다.</p>
    <p>PrismXQ내의 자료의 2차 가공, 상업적 이용을 금지합니다.</p>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <li class="pb-2">
        <a href="/sponsoredtag" class="link-light"><b> 공정위문구 </b> </a>
      </li>
      <li>
        <a href="/sponsoredtag/check" class="link-light">문구 검사기</a>
      </li>
      <li>
        <a href="/sponsoredtag/dictionary" class="link-light">문구 단어사전</a>
      </li>
      <li>
        <a href="/sponsoredtag/recommendation" class="link-light"
          >상황별 추천문구</a
        >
      </li>
    </ul>
    <ul>
      <li class="pb-2">
        <a href="/sponsoredtag/guide" class="link-light"
          ><b> 가이드라인 </b>
        </a>
      </li>
      <li>
        <a href="/sponsoredtag/guide/blog" class="link-light">블로그</a>
      </li>
      <li>
        <a href="/sponsoredtag/guide/youtube" class="link-light">유튜브</a>
      </li>
      <li>
        <a href="/sponsoredtag/guide/instagram" class="link-light"
          >인스타그램</a
        >
      </li>
    </ul>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <p><b>위험키워드</b></p>
      <li>
        <a href="/riskykeyword" class="link-light">메인화면</a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3 text-start">
    <ul>
      <p><b>사건·사고</b></p>
      <li>
        <a href="/article" class="link-light">메인화면</a>
      </li>
    </ul>
  </div>
</div>
