<div class="d-flex w-960" style="flex-wrap: wrap; align-items: baseline">
  <h1 class="mx-3">
    <a href="/"><b>PrismXQ</b></a>
  </h1>
  <span style="font-size: large"> 공정위문구‚ 위험키워드 백과사전</span>
</div>
