<nav class="navbar navbar-expand-sm px-2 py-1 w-960">
  <div class="container-fluid">
    <a class="navbar-brand m-auto" href="/"
      ><img
        src="/favicon.webp"
        alt="Logo"
        width="32px"
        class="d-inline-block align-text-top"
    /></a>
    <!-- navbar-toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- navbar-wide -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            공정위문구
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/sponsoredtag">메인화면</a></li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/check/main"
                >문구 검사기</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/dictionary"
                >문구 단어사전</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/recommendation"
                >상황별 추천문구</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/guide">가이드라인</a>
            </li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/guide/blog"
                >ㄴ 블로그</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/guide/youtube"
                >ㄴ 유튜브</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/sponsoredtag/guide/instagram"
                >ㄴ 인스타그램</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            위험키워드
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/riskykeyword">준비중</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/article">사건사고</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
