<div class="py-4">
  <div class="text-center">
    <h2>프리즘XQ</h2>
    <h2>마케터‚ 크리에이터를 위한 전문 도구</h2>
  </div>
  <div class="row mx-3 pt-3 justify-content-center">
    <div class="col-lg-6 mb-3" style="width: 400px">
      <div class="card card-shadow cardup">
        <a href="/sponsoredtag">
          <img
            src="/img/index/001.webp"
            class="card-img-top"
            alt="공정위문구"
          />
        </a>
        <div class="card-body">
          <%- include('sponsoredtags/div-st-search.ejs'); %>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-3" style="width: 400px">
      <div class="card card-shadow">
        <a href="/riskykeyword">
          <img
            src="/img/index/002.webp"
            class="card-img-top"
            alt="위험키워드"
          />
        </a>
        <div class="card-body">
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="준비 중"
              aria-label="Disabled input example"
              disabled
              pattern="^[a-zA-Z0-9가-힣]{1,20}$"
            />
            <button class="btn btn-outline-secondary" type="submit" disabled>
              Search
            </button>
          </form>
          <div class="form-text">&#8251; 20자 이내, 특수문자 입력불가</div>
          <div class="form-text">e.g. '알약', '여름철', '감기'</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/stSearchClick.js"></script>
