<div>
  <div class="mb-3">
    <h2>인기글</h2>
    <div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/article/001"
            ><p class="border card-shadow p-3 link-dark">
              🔥 네이버 영수증 리뷰에도 공정위 문구를 작성해야하나요?
            </p></a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-3">
    <h2>최신 뉴스</h2>
    <div class="row g-2">
      <div class="card col-4">
        <img src="/img/news000001.webp" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">쿠팡, 공정위와의 분쟁을 공론화하다</h5>
          <p class="card-text">역대 최대 과징금 1400억, 쿠팡 불복</p>
          <a href="article/news/000001" class="btn btn-primary">→ 기사 보기</a>
        </div>
      </div>
    </div>
  </div>
</div>
