<div class="col-10 col-md-9 mx-auto mb-5">
  <div class="py-2 border-bottom">
    <span class="font-blue"><b>과징금</b></span> 쿠팡 알고리즘 부당유인
    <h2 class="mt-2">
      <b>쿠팡, 공정위와의 분쟁을 공론화하다</b>
    </h2>
    <h5><b>역대 최대 과징금 1400억, 쿠팡 불복</b></h5>
    <div class="form-text text-end">2024.06.28</div>
  </div>
  <div class="main-contents mt-3">
    <p class="lh-lg">
      쿠팡이 공정거래위원회(이하 공정위)와의 갈등을 대중 앞에 드러냈다. 공정위의
      최종 결정이 나오기도 전에, 쿠팡은 공정위의 심사보고서 내용을 공개하며
      반박에 나섰다.
    </p>
    <p class="lh-lg">
      현재 해당 사건은 공정위 심사관이 작성한 심사보고서가 쿠팡에 전달되었고,
      쿠팡은 이에 대한 답변서를 제출한 상태다. 공정위는 쿠팡이 임직원을 동원해
      알고리즘을 조작한 행위를 부당한 방법으로 고객을 유인한 불공정행위로 보고
      있다. 법원 1심에 해당하는 전원회의를 앞두고 쿠팡이 공개적으로 '혐의없음'을
      주장한 것이다.
    </p>
    <p class="lh-lg"></p>
    <p class="lh-lg">
      이번 입장 발표는 최근 공정위가 쿠팡의 자체브랜드(PB) 상품 우대 의혹에 대해
      조사 중인 것에 대한 반발로 보인다. 앞서 참여연대 민생희망본부 등 6개
      시민사회단체는 쿠팡이 직원들을 동원해 PB 상품 후기를 작성하게 하고, 이를
      통해 제품의 노출 순위를 높여 판매량을 늘렸다는 의혹을 공정위에 신고했다.
    </p>
    <p class="lh-lg">
      한기정 공정거래위원장은 21일 방송에 출연해 이 사건을 언급하며 “임직원들이
      작성한 구매 후기를 통해 검색 순위를 조작하는 행위는 전원회의에서 다루어질
      예정”이라고 밝혔다. 공정위가 쿠팡 검색 알고리즘 조작 행위에 적용한 법
      조항은 '위계에 의한 부당한 고객 유인(부당 유인)'이다. 이에 쿠팡은
      이례적으로 공개 반발에 나선 것이다.
    </p>
    <p class="lh-lg">
      쿠팡은 23일 언론을 통해 “공정위가 소비자가 선호하는 상품을 우선적으로
      보여주는 것을 '알고리즘 조작'이라 문제 삼는다”며 “고객이 원하는 제품을
      원하는 방식으로 보여주는 것은 유통업의 핵심이며, 모든 온·오프라인
      유통업체가 동일하게 운영하고 있다”고 주장했다. 또한 “유통업체에 대해 구글,
      네이버 등 검색 서비스에 요구되는 중립성을 요구하는 나라는 없다”고
      덧붙였다.
    </p>
    <p class="lh-lg">
      한편 1400억 원의 과징금은 아직 확정된 것은 아니다. 과징금은 위법 행위와
      관련된 매출액을 기준으로 산정하므로 이번 사건이 진행됨에 따라 관련매출액이
      어떻게 산정되느냐에 따라 과징금이 변동될 수 있다.
    </p>
  </div>
</div>
