<div class="col-10 col-md-9 mx-auto mb-5">
  <div class="py-2 border-bottom">
    <span class="font-blue"><b>공정위 문구</b></span> 영수증리뷰 체험단
    <h2 class="mt-2">
      <b>네이버 영수증 리뷰에도 공정위 문구를 작성해야하나요?</b>
    </h2>
    <h5><b>광고주와의 관계, 명확하게 밝혀야</b></h5>
    <div class="form-text text-end">2024.06.30</div>
  </div>
  <div class="main-contents mt-3">
    <p class="lh-lg">
      최근 온라인 마케팅 시장에서는 네이버 블로그 체험단 마케팅과 함께 영수증
      리뷰 마케팅이 성행하고 있습니다. 특히 일부 체험단 중개업체에서는
      광고주에게 영수증 리뷰 업로드를 보장함과 동시에 체험단(캠페인)에 참여하는
      인플루언서에게 이를 작성할 것을 참여조건으로 하고 있습니다.
    </p>
    <p class="lh-lg">
      그러나 상품이나 서비스를 무료로 제공받은 경우 영수증이 발급되지 않을
      것임에도 불구하고 이를 수령받아 리뷰를 작성해야하는지 의문이 들 수
      있습니다.
    </p>
    <h4 class="pt-3">네이버 영수증 리뷰에도 공정위 문구 작성해야</h4>
    <p class="lh-lg">
      영수증 리뷰의 목적은 소비자에게 상품 또는 서비스에 대한 정보를 제공하는
      것입니다. 소비자는 리뷰의 내용과 광고에 해당한다는 사실을 토대로 구매를
      결정할 것이므로 추천·보증인은 영수증 리뷰에도 공정위 문구를 작성하여야
      합니다.
    </p>
    <p class="lh-lg">
      게다가 광고주로부터 경제적 대가를 받은 경우 추천·보증 내용에 영향을 미칠
      수 있기 때문에, 소비자가 이 사실을 알고 추천·보증 내용(리뷰 내용)의
      신뢰도를 평가할 수 있도록 반드시 정보를 제공해야합니다.
    </p>
    <h4 class="pt-3">공정위 문구 작성 방법</h4>
    <p class="lh-lg">
      네이버 영수증 리뷰에 공정위 문구를 작성하기 위해서는 공개의
      일반원칙(접근성, 인식가능성, 명확성, 언어동일성)을 따라야 합니다.
    </p>
    <p class="lh-lg">
      공정위 문구를 작성하였다 하더라도 더보기를 눌러 확인이 가능하다면 접근성
      기준을 충족하지 못해 올바르게 표시되었다고 보기 어렵습니다. 자세한 기재
      방법과 표시 예시는 아래에서 확인할 수 있습니다.
    </p>
    <div class="mb-3">
      <a
        class="card card-shadow p-3 mt-1"
        href="/sponsoredtag/recommendation"
        target="_blank"
        >👉 상황별 추천 문구</a
      >
    </div>
    <h4 class="pt-3">허위 영수증 리뷰 제재</h4>
    <p class="lh-lg">
      허위 영수증 리뷰는 「표시·광고의 공정화에 관한 법률」(이하 표시광고법)에서
      제재하고 있습니다. 표시광고법에 따르면 표시·광고의 주체를 사업자 또는
      사업자단체로 정하고 있으며 시정조치, 과징금, 벌칙을 받는 대상은 사업자등이
      해당합니다.
    </p>
    <p class="lh-lg">
      또한 공정거래위원회에서는 ▲광고에 관하여 수행한 역할‚ ▲관여한 정도‚
      ▲광고의 구체적 내용‚ ▲광고에 대한 관리·감독상 책임의 여부‚ ▲경제적 효과의
      귀속 여부 등을 종합적으로 고려하여 부당한 표시·광고행위의 책임성을
      판단하고 있습니다.
    </p>
    <div class="mb-3">
      <a
        class="card card-shadow p-3 mt-1"
        href="/sponsoredtag/guide/blog"
        target="_blank"
        >👉 위반 사례, 제재, 책임성 판단방법 보러가기</a
      >
    </div>
    <h4 class="pt-3">허위 영수증 리뷰는 마케팅으로도 손해</h4>
    <p class="lh-lg">
      허위로 영수증을 발행하는 행위는 법률적 위반 여부를 떠나 온라인 마케팅
      관점에서도 불이익을 받을 수 있습니다.
    </p>
    <p class="lh-lg">
      특히 지역 소상공인들에게 중요한 스마트 플레이스의 순위가 후순위로 밀려나는
      불이익을 받을 수 있어 각별히 주의하여야 합니다.
    </p>
    <p class="lh-lg">
      콘텐츠를 제작한 인플루언서(체험단)의 SNS계정 또한 신뢰성을 잃어 노출되지
      않을 가능성이 있어 각별히 주의하여야 합니다.
    </p>
    <h4 class="pt-3">모두를 위한 클린 리뷰 문화</h4>
    <p class="lh-lg">
      리뷰의 신뢰성을 높이고 허위 정보로 인한 피해를 줄이기 위해, 모든 구성원이
      공정위의 지침을 성실히 준수해야 합니다.
    </p>
    <p class="lh-lg">
      소비자들은 표시광고법을 준수한 리뷰를 통해 보다 객관적이고 신뢰할 수 있는
      정보를 제공받을 수 있을 것이며, 이는 결국 소비자 만족도를 높이고 공정한
      거래 문화를 조성하는 데 기여할 것입니다.
    </p>
  </div>
</div>
