ul {
  list-style: none;
  padding-left: 0;
  padding-bottom: 0.2rem;
}

a {
  text-decoration-line: none;
}

h1 > a {
  color: black;
}
h6 {
  font-weight: 700;
}

.w-960 {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

.border-radius {
  border-radius: 10px;
}

.row-flexible {
  display: flex !important;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
}

.f-10 {
  max-width: 10%;
  flex: 1 1 10%;
}

.f-30 {
  max-width: 30%;
  flex: 1 1 30%;
}

.f-50 {
  max-width: 50%;
  flex: 1 1 50%;
}

.f-70 {
  max-width: 70%;
  flex: 1 1 70%;
}

.f-100 {
  max-width: 100%;
  flex: 1 1 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.slide-down-show {
  display: block;
  animation: slideDown 0.3s ease-out;
}

.thick-underline {
  border-bottom: solid 3px black;
}

.thin-underline {
  border-bottom: solid 1px #e8e8e8;
}

.font-blue {
  color: #0823b5;
}

.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.list-d:hover {
  background-color: #eeeeee;
}

.br-t-8 {
  border-radius: 8px 8px 0 0;
}
.br-b-8 {
  border-radius: 0 0 8px 8px;
}
.br-8 {
  border-radius: 8px;
}

.list-detail {
  padding: 10px 20px 20px 20px;
  margin-bottom: 20px;
  background-color: #fff;
  transition: all 0.3s ease;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.bg-blue100 {
  background-color: #e6f2ff;
}

.bg-blue25 {
  background-color: #e6f2ff25;
}

.bg-gray {
  background-color: #eeeeee;
}

.bg-green {
  background-color: #e8ffda;
}

.card-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cardup:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.list-detail > div > div {
  padding: 0.3rem 0;
}

.guide-nav {
  top: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .guide-nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100%;
  }
}
@media screen and (max-width: 767.98px) {
  .guidance-photo {
    display: block;
  }

  .guidance-photo > .f-50 {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand > img {
    visibility: hidden;
  }
}
