<form class="d-flex" role="search">
  <input
    class="form-control me-2 st-search"
    style="max-width: 40rem"
    type="search"
    placeholder="공정위문구 검색"
    aria-label="Search"
    pattern="^[a-zA-Z0-9가-힣., ]{1,50}$"
    name="val"
  />
  <button class="btn btn-outline-primary st-search-send" type="submit">
    Search
  </button>
</form>
<div class="form-text">&#8251; 10자 이내, 특수문자 입력불가</div>
<div class="form-text">e.g. '서포터즈', '광고', 'AD'</div>
