<div id="item-3-2" class="ps-2 mb-5">
  <h5>3.2. 제재 대상 및 책임성 판단</h5>
  <p>
    「표시·광고의 공정화에 관한 법률」은 표시·광고의 주체를
    <strong>사업자 또는 사업자단체</strong>로 정하고 있습니다.
  </p>
  <p>
    또한 공정거래위원회는
    <strong
      >▲광고에 관하여 수행한 역할‚ ▲관여한 정도‚ ▲광고의 구체적 내용‚ ▲광고에
      대한 관리·감독상 책임의 여부‚ ▲경제적 효과의 귀속 여부 등을 종합적으로
      고려하여 부당한 표시·광고행위의 책임성을 판단하고 있습니다.</strong
    >
  </p>
</div>
<div id="item-3-3" class="ps-2 mb-5">
  <h5>3.3. 위반시 제재</h5>
  <div class="alert alert-danger" role="alert">
    【시정조치】 공정거래위원회는 사업자등이 제3조제1항을 위반하여 부당한
    표시·광고 행위를 하는 경우에는 그 사업자등에 대하여 그 시정을 위한 다음 각
    호의 조치를 명할 수 있다.
    <br />1. 해당 위반행위의 중지 <br />2. 시정명령을 받은 사실의 공표 <br />3.
    정정광고 <br />4. 그 밖에 위반행위의 시정을 위하여 필요한 조치
    <p class="text-end mb-0">
      - 「표시·광고의 공정화에 관한 법률」 제7조 제1항
    </p>
  </div>
  <div class="alert alert-danger" role="alert">
    【과징금】 공정거래위원회는 제3조제1항을 위반하여 표시·광고 행위를 한
    사업자등에 대하여는 대통령령으로 정하는 매출액(대통령령으로 정하는 사업자의
    경우에는 영업수익을 말한다. 이하 같다)에 100분의 2를 곱한 금액을 초과하지
    아니하는 범위에서 과징금을 부과할 수 있다.
    <p class="text-end mb-0">
      - 「표시·광고의 공정화에 관한 법률」 제9조 제1항 본문
    </p>
  </div>
  <div class="alert alert-danger" role="alert">
    【벌칙】 다음 각 호의 어느 하나에 해당하는 자는 2년 이하의 징역 또는
    1억5천만원 이하의 벌금에 처한다.
    <br />1. 제3조제1항을 위반하여 부당한 표시·광고 행위를 하거나 다른
    사업자등으로 하여금 하게 한 사업자등 <br />2. 제6조제3항 또는 제7조제1항에
    따른 명령에 따르지 아니한 자
    <p class="text-end mb-0">- 「표시·광고의 공정화에 관한 법률」 제17조</p>
  </div>

  <p>
    위반시 「표시·광고의 공정화에 관한 법률」에 의해 시정명령‚ 과징금‚ 벌칙을
    받을 수 있습니다.
  </p>
</div>
<div id="item-3-4" class="ps-2 mb-5">
  <h5>3.4. 위반시 대응</h5>
  <!-- <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">○○법률사무소</a></li>
      <li class="list-group-item"><a href="#">□□법률사무소</a></li>
      <li class="list-group-item"></li>
    </ul>
  </div> -->
  <div>
    위반시 제재에 불복하는 경우 증거와 함께 전문적인 법적 대응이 필요합니다.
  </div>
</div>
