<div class="col-lg-6 col-md-12">
  <div>
    <h5 class="pt-2">3. 결과</h5>
  </div>
  <div
    class="p-2"
    style="
      background-color: #e3f2fd;
      border-radius: 10px;
      border: solid 2px #e3f2fd;
    "
  >
    <div class="pb-2">
      <h6>[기재 가능 영역]</h6>
      <!--네이버 블로그 선택시-->
      <div class="p-example hide">
        <p>다음 영역중 최소한 하나를 선택해 작성하세요.</p>
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 글의 제목 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/nb01.png" />
          </div>
          <div class="f-50 p-1">
            <p class="f-100"><b>2. 본문 처음 또는 끝부분</b></p>
            <img class="f-100" src="/img/recommendation/nb02.png" />
          </div>
        </div>
      </div>

      <!--네이버 영수증 리뷰 선택시-->
      <div class="p-example hide">
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 본문 처음</b></p>
            <img class="f-100" src="/img/recommendation/nr01.png" />
          </div>
        </div>
      </div>

      <!--스마트스토어 리뷰 선택시-->
      <div class="p-example hide">
        <p>다음 영역중 최소한 하나를 선택해 작성하세요.</p>
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 본문 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/ns01.png" />
          </div>
          <div class="f-50 p-1">
            <p class="f-100"><b>2. 무료체험 기능 활성화</b></p>
            <img class="f-100" src="/img/recommendation/ns02.png" />
          </div>
        </div>
      </div>

      <!--유튜브 동영상 선택시-->
      <div class="p-example hide">
        <p>다음 영역중 최소한 하나를 선택해 작성하세요.</p>
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 영상의 제목 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/yt01.png" />
          </div>
          <div class="f-50 p-1">
            <p class="f-100"><b>2. 유료광고 태그 활성화</b></p>
            <img class="f-100" src="/img/recommendation/yt02.png" />
          </div>
        </div>
      </div>

      <!--유튜브 쇼츠 선택시-->
      <div class="p-example hide">
        <p>다음 영역중 최소한 하나를 선택해 작성하세요.</p>
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 설명 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/yts01.png" />
          </div>
          <div class="f-50 p-1">
            <p class="f-100"><b>2. 유료광고 태그 활성화</b></p>
            <img class="f-100" src="/img/recommendation/yts02.png" />
          </div>
        </div>
      </div>

      <!--인스타그램 피드 선택시-->
      <div class="p-example hide">
        <p>다음 영역중 최소한 하나를 선택해 작성하세요.</p>
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 설명 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/ig01.png" />
          </div>
          <div class="f-50 p-1">
            <p class="f-100"><b>2. 해시태그 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/ig02.png" />
          </div>
        </div>
      </div>

      <!--릴스 선택시-->
      <div class="p-example hide">
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 설명 맨 앞</b></p>
            <img class="f-100" src="/img/recommendation/igreels01.png" />
          </div>
        </div>
      </div>

      <!--카카오맵 선택시-->
      <div class="p-example hide">
        <div class="row-flexible">
          <div class="f-50 p-1">
            <p class="f-100"><b>1. 본문 처음</b></p>
            <img class="f-100" src="/img/recommendation/kakaomap01.png" />
          </div>
        </div>
      </div>
    </div>
    <% for (let i = 0; i < result_obj_guidance.length; i++) { %>
    <div class="r-example hide">
      <div class="pb-2">
        <h6>[기재 추천 문구]</h6>
        <p>아래의 추천 문구 중 적당한 것으로 선택하세요.</p>
        <p class="guidanceExampleWord">
          <b>①추천 단어: </b> <%=result_obj_guidance[i].exampleWord%>
        </p>
        <p class="guidanceExampleSentence">
          <b>②추천 문장: </b> <%=result_obj_guidance[i].exampleSentence%>
        </p>
      </div>
      <div class="pb-2">
        <p class="guidanceExampleCautionNotice">
          <b>주의사항: </b><%=result_obj_guidance[i].cautionNotice%>
        </p>
      </div>
    </div>
    <% } %>
  </div>
</div>
