<div class="row g-2 m-auto pb-5" style="justify-content: space-between">
  <!--블로그 가이드-->
  <div class="col-4">
    <a href="/sponsoredtag/guide/blog">
      <div class="mt-3 card card-shadow cardup text-center">
        <div class="thin-underline pt-4 pb-3 bg-green">
          <b>네이버 블로그<br />공정위문구 작성요령</b>
        </div>
        <p class="form-text pt-2">#글자 진하고 크게<br />#사실그대로</p>
      </div></a
    >
  </div>
  <!--유튜브 가이드-->
  <div class="col-4">
    <a href="/sponsoredtag/guide/youtube">
      <div class="mt-3 card card-shadow cardup text-center">
        <div class="thin-underline pt-4 pb-3 bg-green">
          <b>유튜브<br />공정위문구 작성요령</b>
        </div>
        <p class="form-text pt-2">#광고태그 활성화<br />#제목 맨 앞</p>
      </div></a
    >
  </div>
  <!--인스타그램 가이드-->
  <div class="col-4">
    <a href="/sponsoredtag/guide/instagram">
      <div class="mt-3 card card-shadow cardup text-center">
        <div class="thin-underline pt-4 pb-3 bg-green">
          <b>인스타그램<br />공정위문구 작성요령</b>
        </div>
        <p class="form-text pt-2">#첫번째 해시태그<br />#협찬 #광고</p>
      </div></a
    >
  </div>
</div>
