<div
  id="carouselExampleAutoplaying"
  class="carousel slide m-auto"
  data-bs-ride="carousel"
  style="width: 100%; max-width: 1000px"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="3"
      aria-label="Slide 4"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="/img/st-guide/001.png"
        class="d-block w-100 br-8"
        alt="공정위문구 표시 방법 3원칙"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/st-guide/002.png"
        class="d-block w-100 br-8"
        alt="네이버블로그 공정위문구 표시"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/st-guide/003.png"
        class="d-block w-100 br-8"
        alt="유튜브 공정위문구 표시"
      />
    </div>
    <div class="carousel-item">
      <img
        src="/img/st-guide/004.png"
        class="d-block w-100 br-8"
        alt="인스타그램 공정위문구 표시"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
