<div class="pb-2">
  <h2>🔎문구 검사기</h2>
  <h4>올바른 공정위 문구인지 확인해보세요.</h4>
</div>

<div>
  <!-- input & button 넣기 -->
  <%- include('./div-st-search.ejs'); %>

  <!-- 검색결과 창 보여주기 -->
</div>

<script src="/js/searchClick.js"></script>
