<div class="pb-2">
  <h2>🔎문구 검사기</h2>
  <h4>올바른 공정위 문구인지 확인해보세요.</h4>
</div>

<div>
  <!-- input & button 넣기 -->
  <form class="d-flex" role="search">
    <input
      class="form-control me-2"
      style="max-width: 40rem"
      type="search"
      placeholder="키워드 검색"
      aria-label="Search"
      pattern="^[a-zA-Z0-9가-힣., ]{1,50}$"
    />
    <button class="btn btn-outline-primary" type="submit">Search</button>
  </form>
  <div class="form-text">&#8251; 50자 이내, 특수문자 입력불가</div>
  <div class="form-text">e.g. '서포터즈', '광고', 'AD'</div>
  <!-- 검색결과 창 보여주기 -->
</div>
