<div>
  <div class="pb-2">
    <h2>π“‘κ°€μ΄λ“λΌμΈ</h2>
    <h4>μƒν™©λ³„β€ ν”λ«νΌλ³„ κ°€μ΄λ“λΌμΈ</h4>
  </div>
  <div class="row">
    <div class="col-12" style="align-content: center">
      <%- include('./div-carousel.ejs'); %>
    </div>
    <%- include('./div-st-guide-btns.ejs'); %>
  </div>
</div>
