<div class="pb-2">
  <h2>📑상황별 문구완성</h2>
  <h4>플랫폼‚ 상황별 공정위문구를 추천합니다.</h4>
</div>

<div class="row">
  <!-- 플랫폼 선택 -->
  <div class="col-6 col-lg-3">
    <h5>플랫폼 선택</h5>
    <!--네이버-->
    <div>
      <h6>네이버</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
        />
        <label class="form-check-label" for="flexRadioDefault1">
          네이버 블로그
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault2"
        />
        <label class="form-check-label" for="flexRadioDefault2">
          네이버 영수증 리뷰
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault3"
        />
        <label class="form-check-label" for="flexRadioDefault3">
          네이버 스마트스토어 리뷰
        </label>
      </div>
    </div>
    <!--유튜브-->
    <div>
      <h6>유튜브</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault4"
        />
        <label class="form-check-label" for="flexRadioDefault4"> 동영상 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault5"
        />
        <label class="form-check-label" for="flexRadioDefault5"> 쇼츠 </label>
      </div>
    </div>
    <!--인스타그램-->
    <div>
      <h6>인스타그램</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault6"
        />
        <label class="form-check-label" for="flexRadioDefault6"> 피드 </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault7"
        />
        <label class="form-check-label" for="flexRadioDefault7"> 릴스 </label>
      </div>
    </div>
    <!--다음 카카오-->
    <div>
      <h6>다음 카카오</h6>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault8"
        />
        <label class="form-check-label" for="flexRadioDefault8">
          카카오맵
        </label>
      </div>
    </div>
  </div>
  <!-- 경제적 이해관계 형태 선택 -->
  <div class="col-6 col-lg-3">
    <h5>경제적 이해관계 선택</h5>
  </div>

  <!-- 예시 그림 보여주는 곳-->
  <div class="col-12 col-lg-6">
    <h5>가이던스</h5>
  </div>
</div>
