<!--대목차 제목-->
<div class="mb-3">
  <h2>공정위 문구 기재 가이드라인: 유튜브</h2>
</div>

<div class="row br-8 card-shadow mb-3" style="border: 1px solid #eeeeee">
  <div
    class="col-12 col-md-4 guide-nav"
    style="border-bottom: 1px solid #eeeeee"
  >
    <nav
      id="navbar-example3"
      class="h-100 flex-column align-items-stretch pe-4"
    >
      <nav class="nav nav-pills flex-column">
        <a class="nav-link" href="#item-1">1. 개요</a>
        <a class="nav-link" href="#item-2">2. 표시 방법</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-2-1">2.1. 표시 위치</a>
          <a class="nav-link ms-3 my-1" href="#item-2-2">2.2. 표시 방식</a>
          <a class="nav-link ms-3 my-1" href="#item-2-3">2.3. 표시 내용</a>
          <a class="nav-link ms-3 my-1" href="#item-2-4">2.4. 사용 언어</a>
        </nav>
        <a class="nav-link" href="#item-3">3. 위반</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">3.1. 위반 사례</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2"
            >3.2. 제재 대상 및 책임성 판단</a
          >
          <a class="nav-link ms-3 my-1" href="#item-3-3">3.3. 위반시 제재</a>
          <a class="nav-link ms-3 my-1" href="#item-3-4">3.4. 위반시 대응</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-12 col-md-8 p-3 guide-text border-start" id="navbar-example3">
    <div
      data-bs-spy="scroll"
      data-bs-target="#navbar-example3"
      data-bs-smooth-scroll="true"
      class="scrollspy-example-2"
      tabindex="0"
    >
      <div id="item-1">
        <h4>1. 개요</h4>
        <p>
          유튜브를 통한 광고‚ 홍보를 하는 경우 광고주와 추천·보증인(유튜버)
          사이의 경제적 이해관계를 나타내는 문구(이하 '공정위 문구')를 콘텐츠
          내에 삽입하여야 합니다.
        </p>
        <p>
          광고주와 추천·보증인 사이의 경제적 이해관계를 공개하도록 하는 것은‚
          해당 추천·보증이 상업적인 광고라는 사실을 소비자가 인식하고 구매
          결정을 할 수 있도록 하기 위함입니다.
        </p>
        <p>
          광고주로부터 경제적 대가를 받은 경우 콘텐츠의 추천·보증 내용에 영향을
          미칠 수 있기 때문에 소비자가 광고라는 사실을 알고 콘텐츠의 신뢰도를
          평가할 수 있도록 정보를 제공하기 위해 반드시 공정위 문구를
          작성해야합니다.
        </p>
      </div>
      <div class="pt-4" id="item-2">
        <h4>2. 표시 방법</h4>
        <p>
          공정위 문구를 올바르게 표시하기 위해서는 아래의 4가지 조건이 모두
          충족되어야 합니다. 이들 중 하나라도 만족하지 않는다면 올바르게
          작성되었다고 보기 어렵습니다.
        </p>
      </div>
      <div id="item-2-1" class="ps-2 mb-5">
        <h5>2.1. 표시 위치</h5>
        <div class="alert alert-success" role="alert">
          경제적 이해관계를 표시하는 문구는 소비자가 쉽게 찾을 수 있도록
          추천·보증 등의 내용과 <strong>근접한 위치에 표시</strong>한다. 이때‚
          표시문구는 추천·보증 등과 연결되어 소비자가 이를 단일한 게시물로
          인식할 수 있도록 표시한다.
          <p class="text-end mb-0">「추천보증심사지침 규정」 中</p>
        </div>
        <p>
          경제적 이해관계는 소비자가 쉽게 볼 수 있는 위치에 표시하여야 합니다.
        </p>

        <p>
          유튜브(Longform‚ 롱폼)의 경우 아래와 같이 3가지 방식으로 표시할 수
          있습니다.
        </p>
        <div class="row mb-2">
          <div class="col-12 col-md-6 text-center border">
            <img src="/img/st-guide/guide_yt01.png" width="100%" />
            <p class="form-text"><b>[ 1. 제목에 표시 ]</b></p>
          </div>
          <div class="col-12 col-md-6 text-center border">
            <img src="/img/st-guide/guide_yt02.png" width="100%" />
            <p class="form-text"><b>[ 2. 영상 내에 표시 ]</b></p>
          </div>
        </div>
        <p>
          상기 1‚ 2번과 같이 유튜버가 임의적으로 표시하지 않더라도 유튜브 동영상
          설정에서 유료광고 포함 태그를 활성화하면 자동적으로 표시됩니다.
        </p>
        <div class="row">
          <div class="col-12 col-md-6 text-center border mb-2">
            <img src="/img/st-guide/guide_yt03.png" width="100%" />
            <p class="form-text">
              <b>[ 3. 유료 광고 포함 설정 활성화 ]</b>
            </p>
          </div>
        </div>
        <p>유튜브의 쇼츠(Youtube shorts)경우 아래와 같이 표시할 수 있습니다.</p>
        <div class="row mb-2">
          <div class="col-12 col-md-6 text-center border">
            <img src="/img/st-guide/guide_yts01.png" width="100%" />
            <p class="form-text"><b>[ 1. 설명란 맨 앞 ]</b></p>
          </div>
          <div class="col-12 col-md-6 text-center border">
            <img src="/img/st-guide/guide_yts02.png" width="100%" />
            <p class="form-text"><b>[ 2. 유료 광고 포함 설정 활성화 ]</b></p>
          </div>
        </div>
      </div>
      <div id="item-2-2" class="ps-2 mb-5">
        <h5>2.2. 표시 방식</h5>
        <div class="alert alert-success" role="alert">
          소비자들이 <strong>쉽게 인식할 수 있는 형태</strong>로 표현한다. 문자
          형태의 경우‚ 배경과 명확히 구분되며 소비자가 쉽게 인식할 수 있도록
          적절한 문자 크기‚ 폰트‚ 색상 등을 선택하며‚ 음성 형태의 경우‚ 소비자가
          소리 크기나 속도 등의 조절 없이도 명확하게 이해할 수 있도록 표현한다.
          <p class="text-end mb-0">「추천보증심사지침 규정」 中</p>
        </div>
        <p>공정위 문구가 두드러지게 표현되어야 합니다.</p>
        <p>
          공정위 문구를 문자만으로 표현할 경우 색깔을 배경색과 비슷한 색으로
          하여 분간하기 어렵게 하거나 크기를 줄여 읽기 어려운 경우 올바르게
          표현되었다고 보기 어렵습니다.
        </p>
        <p>
          공정위 문구를 음성으로 표현할 경우 너무 빠르게 말하거나 작은 소리로
          표시하여 인식하기 어려운 경우 올바르게 표현되었다고 보기 어렵습니다.
        </p>
        <p>
          유튜버가 특정 상품·브랜드를 의도적으로 언급하거나 노출시키는 등
          간접광고의 경우‚ 동영상의 시작부분과 끝부분에 표시문구를 나타내야
          합니다.
        </p>
      </div>
      <div id="item-2-3" class="ps-2 mb-5">
        <h5>2.3. 표시 내용</h5>
        <div class="alert alert-success" role="alert">
          <strong>명확한 내용</strong>으로 표현한다. 금전적 지원‚ 할인‚ 협찬 등
          경제적 이해관계의 내용을 소비자가 이해하기 쉽도록 명확하게 표시한다.
          <p class="text-end mb-0">「추천보증심사지침 규정」 中</p>
        </div>
        <p>
          광고주와 있었던 <strong>사실 그대로</strong> 쉽고 명확하게 표현하여야
          합니다.<br />
          <a
            class="card card-shadow p-3 mt-1"
            href="/sponsoredtag/dictionary"
            target="_blank"
            >👉표현 단어사전 보러가기</a
          >
        </p>
      </div>
      <div id="item-2-4" class="ps-2 mb-5">
        <h5>2.4. 사용 언어</h5>
        <div class="alert alert-success" role="alert">
          추천·보증 등의 내용과 <strong>동일한 언어를 사용</strong>한다. 다만‚
          동일하지 않은 언어를 일부 포함하더라도‚ 표시문구를 전체적으로 보아
          동일한 언어라고 볼 수 있는 등 소비자가 쉽게 이해할 수 있는 경우에는
          예외적으로 외국어를 사용할 수 있다.
          <p class="text-end mb-0">「추천보증심사지침 규정」 中</p>
        </div>
        <p>
          예를 들어‚ 한국어로 추천·보증을 하는 경우 동일하게 한국어로 경제적
          이해관계를 표시하여야 합니다.<br />
          <a
            class="card card-shadow p-3 mt-1"
            href="/sponsoredtag/check?value=AD"
            target="_blank"
            >👉AD 표시도 가능한가요?</a
          >
        </p>
      </div>
      <!--위반시 사항-->
      <div class="pt-4" id="item-3">
        <h4>3. 위반</h4>
        <p>
          공정위 문구에 관한 행위는 「표시·광고의 공정화에 관한 법률」에서
          다루고 있으며 주요 담당 기관은 공정거래위원회입니다. 대표적인 위반
          사례는 아래와 같습니다.
        </p>
      </div>
      <div id="item-3-1" class="ps-2 mb-5">
        <h5>3.1. 위반 사례</h5>
        <div class="alert alert-warning" role="alert">
          【부적절하게 표시한 경우】 <br />
          1. 제목에 표시하였으나 표시문구가 생략되어 나타나는 경우 <br />
          2. 영상의 설명란에 표시한 경우 <br />
          3. 영상의 고정 댓글 등을 활용하여 표시한 경우
        </div>
        <p>
          제목에 표시하였으나 제목의 뒷부분에 기재되어 있어 표시문구가 생략되는
          경우 올바르게 표시하였다고 볼 수 없습니다. 설명란‚ 고정 댓글에만
          적어두는 경우도 적절하게 표시되었다고 보기 어렵습니다.<br />즉
          <b>표시문구 확인을 위해 별도의 클릭을 필요로 하는 경우</b> 올바르게
          표시되었다고 보기 어렵습니다.
        </p>
      </div>
      <%- include('./div-guide-law.ejs'); %>
    </div>
  </div>
</div>
