<div class="pb-2">
  <h2>π“–κ³µμ •μ„λ¬Έκµ¬ λ‹¨μ–΄μ‚¬μ „ κ²€μƒ‰</h2>
  <p class="px-3">ctrl+F 'μ°ΎκΈ°' κΈ°λ¥μΌλ΅ μ‰½κ² μ°Ύμ„ μ μμµλ‹λ‹¤.</p>
</div>

<div class="px-3 text-center">
  <div class="list-h row-flexible thick-underline">
    <div class="f-10"><p>no</p></div>
    <div class="f-30"><p>λ‹¨μ–΄</p></div>
    <div class="f-30"><p>μ‚¬μ©κ°€λ¶€</p></div>
    <div class="f-30"><p>μμ„Έν</p></div>
  </div>
  <div class="list-d row-flexible thin-underline">
    <div class="pt-3 f-10"><p>1</p></div>
    <div class="pt-3 f-30"><p>ν‘μ°¬</p></div>
    <div class="pt-3 f-30"><p>μ‚¬μ© κ°€λ¥</p></div>
    <div class="f-30">
      <button
        type="button"
        class="btn btn-outline-success st-keyword-detail-toggle"
      >
        μμ„Έν
      </button>
    </div>
  </div>
  <div class="list-detail hide">
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν‚¤μ›λ“</div>
      <div class="f-70">ν‘μ°¬</div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μ ν•</div>
      <div class="f-70">μ ν• μ—†μ΄ λ¨λ“  κ²½μ°μ— μ‚¬μ© κ°€λ¥ν• ν‘ν„μ…λ‹λ‹¤.</div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μμ‹</div>
      <div class="f-70">
        #ν‘μ°¬, #μƒν’ν‘μ°¬, #μ ν’ν‘μ°¬, #μ„λΉ„μ¤ν‘μ°¬, [ν‘μ°¬], μ΄ κΈ€μ€ ν‘μ°¬μ„ λ°›μ•„
        μ‘μ„±λμ—μµλ‹λ‹¤.
      </div>
    </div>
  </div>
  <!-- λ°λ³µ μ½”λ“2 -->
  <div class="list-d list-d2 row-flexible thin-underline">
    <div class="pt-3 f-10"><p>2</p></div>
    <div class="pt-3 f-30"><p>μ²΄ν—λ‹¨</p></div>
    <div class="pt-3 f-30"><p>μ‚¬μ© λ¶κ°€</p></div>
    <div class="f-30">
      <button
        type="button"
        class="btn btn-outline-success st-keyword-detail-toggle2"
      >
        μμ„Έν
      </button>
    </div>
  </div>
  <div class="list-detail2 hide">
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν‚¤μ›λ“</div>
      <div class="f-70">μ²΄ν—λ‹¨</div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μ ν•</div>
      <div class="f-70">
        λ¨λ“  κ²½μ°μ— μ‚¬μ©ν•  μ <strong>μ—†λ”</strong> ν‘ν„μ…λ‹λ‹¤.
      </div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό λ¶κ°€ μ‚¬μ </div>
      <div class="f-70">
        μ†λΉ„μκ°€ κ²½μ μ  μ΄ν•΄κ΄€κ³„λ¥Ό μ• μ μλ„λ΅ λ…ν™•ν•κ² λ‚νƒ€λƒλ‹¤κ³  λ³΄κΈ°
        μ–΄λ µμµλ‹λ‹¤.
      </div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν•΄κ²° λ°©λ²•</div>
      <div class="f-70">λ‹¨μ–΄ μ‚­μ  λ° κµμ²΄</div>
    </div>
  </div>
  <!-- λ°λ³µ μ½”λ“3 -->
  <div class="list-d list-d3 row-flexible thin-underline">
    <div class="pt-3 f-10"><p>3</p></div>
    <div class="pt-3 f-30"><p>λ¬΄λ£ λ€μ—¬</p></div>
    <div class="pt-3 f-30"><p>μ΅°κ±΄λ¶€ κ°€λ¥</p></div>
    <div class="f-30">
      <button
        type="button"
        class="btn btn-outline-success st-keyword-detail-toggle3"
      >
        μμ„Έν
      </button>
    </div>
  </div>
  <div class="list-detail3 hide">
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό ν‚¤μ›λ“</div>
      <div class="f-70">λ¬΄λ£ λ€μ—¬</div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μ ν•</div>
      <div class="f-70">
        μƒν’, μ„λΉ„μ¤ λ“±μ„ λ¬΄λ£λ΅ λ€μ—¬ν• κ²½μ°μ—λ§ μ‚¬μ©ν•  μ μμµλ‹λ‹¤.
      </div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ£Όμ μ‚¬ν•­</div>
      <div class="f-70">
        μ‘μ„±μ‹ κ²½μ μ  λ€κ°€λ¥Ό μ‹¤μ  λ°›μ€ κ²ƒλ³΄λ‹¤ μ¶•μ†ν•μ§€ μ•μ•„μ•Ό ν•©λ‹λ‹¤.
        <br />(e.g.)ν• μΈ ννƒ, μΌλ¶€ μ§€μ›μ„ λ°›μ€ κ²½μ° ν•΄λ‹Ή λ‹¨μ–΄ μ‚¬μ© λ¶κ°€
      </div>
    </div>
    <div class="row-flexible thin-underline text-start">
      <div class="f-30">β—Ό μ‚¬μ© μμ‹</div>
      <div class="f-70">
        #λ¬΄λ£λ€μ—¬, μ΄ κΈ€μ€ μ ν’ λλ” μ„λΉ„μ¤λ¥Ό λ¬΄λ£λ΅ λ€μ—¬λ°›μ•„ μ‘μ„±ν• κΈ€μ…λ‹λ‹¤.
      </div>
    </div>
  </div>
  <!-- λ°λ³µ μ½”λ“ λ-->
</div>
