<div>
  <div class="mt-3">
    <h2>공지사항</h2>
  </div>
  <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">PrismXQ 공정위문구 사용방법</li>
      <li class="list-group-item">PrismXQ 문의방법</li>
    </ul>
  </div>
</div>
