<div class="mt-3" style="max-width: 1000px">
  <div class="mt-4">
    <h2>
      공정위문구 작성은 <b><i>PrismXQ!</i></b>
    </h2>
    <!--첫번째줄-->
    <div class="row g-2 m-auto" style="justify-content: space-between">
      <div class="col-6">
        <a href="/sponsoredtag/dictionary">
          <div class="mt-3 card card-shadow text-center">
            <div class="thin-underline pt-4 pb-3 bg-blue100">
              <b>📌 단어사전</b>
            </div>
            <p class="form-text pt-2 pb-3">공정위문구 단어 모음집</p>
          </div></a
        >
      </div>
      <!--문구검사기-->
      <div class="col-6">
        <a href="/sponsoredtag/check">
          <div class="mt-3 card card-shadow text-center">
            <div class="thin-underline pt-4 pb-3 bg-blue100">
              <b> 📌 공정위문구 검사기</b>
            </div>
            <p class="form-text pt-2 pb-3">올바르게 쓴 단어인지 검사하기</p>
          </div></a
        >
      </div>
    </div>
    <!--두번째줄-->
    <!--가이드라인-->
    <%- include('./div-st-guide-btns.ejs'); %>
    <div class="col-12 mt-3"><%- include('./div-carousel.ejs'); %></div>
    <!--공지사항-->
    <div class="mt-5">
      <div>
        <h2>공지사항</h2>
      </div>
      <div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">PrismXQ 공정위문구 사용방법</li>
          <li class="list-group-item">PrismXQ 문의방법</li>
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
