<h2>공정위문구 메인페이지</h2>

<!--버튼 누르는 곳-->
<!--버튼1-->

<!--공지사항-->
<div>
  <div class="mt-3">
    <h2>공지사항</h2>
  </div>
  <div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A fourth item</li>
      <li class="list-group-item">And a fifth one</li>
    </ul>
  </div>
</div>
